.container {
  display: flex;
  position: relative;
}
.banner {
  width: 33%;

  padding-right: 10px;
}
.NN {
  text-align: center;
  background-color: brown;
  color: white;
  width: 120px;
  height: 30px;
  margin-left: 700px;
  margin-top: 20px;
}
.con1 {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 23px;
}
.con11 {
  position: absolute;
  left: 20px;
  top: 50px;
}
.con2 {
  position: absolute;
  left: 410px;
  top: 20px;
  font-size: 23px;
}
.con21 {
  position: absolute;
  left: 410px;
  top: 50px;
}
.con3 {
  position: absolute;
  left: 800px;
  top: 20px;
  font-size: 23px;
}
.con31 {
  position: absolute;
  left: 800px;
  top: 50px;
}
/* table,th,td{
width: 100%;
border: 2px solid black;
}
#chinh{
    margin-top: 10px;
    margin-left: 40px;
    border-radius: 15px;
    width: 100%;
    background-color: black;
    color: white;
}
input[type="text"]{
    width: 100%;
}
input[type="textarea"]{
    width: 100%;
}
select{
    width: 100%;
} */
#name,
#email {
  padding-left: 25px;
  border: 1px solid black;
  width: 90%;
  height: 35px;
}

#subject {
  width: 90%;
  height: 35px;
  padding-left: 25px;
}

.data {
  border: 1px solid black;
  width: 90%;
  height: 100px;
  padding-top: 15px;
  padding-left: 25px;
}

h1 {
  text-align: center;
  padding-bottom: 25px;
}

.oke {
  width: 90%;
  height: 45px;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.oke:active {
  transform: scale(0.95);
}
